<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrance – CloudStorage</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/app.css" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
    </environment>
</head>
<body>

    <div>@RenderSection("NavbarSecondLvl", required: false)</div>
    <div class="body-content background">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Cloud Service</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
