@{ 
    ViewBag.Title = "ContextMenu";
}

<div id="contextMenu" class="dropdown-menu" role="menu" style="display:none">

    <a class="dropdown-item" href="#">
        <img class="context_menu_item" src="~/Icons/baseline-create_new_folder-24px.svg" />
        Create
    </a>
        <a class="dropdown-item" href="#">
        <img class="context_menu_item" src="~/Icons/baseline-move_to_inbox-24px.svg" />
        Move to
    </a>
    <a class="dropdown-item" href="#">
        <img class="context_menu_item" src="~/Icons/baseline-create-24px.svg" />
        Rename
    </a>

    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
        <img class="context_menu_item" src="~/Icons/baseline-remove_circle-24px.svg" />
        Delete
    </a>

</div>

